body {
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    padding-bottom: 30px;
}
input { 
    width: 20%;
}
input[type=button] {
    background-color: aquamarine;
    width: 130px;
    border-radius: 10px;
    color: blueviolet;
}

#container div {
    border-radius: 10px;
    background-color: blueviolet;
    color:chartreuse;
    margin-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    margin-bottom: 10px;
}

li {
    margin-bottom: 5px;
}

.span-manga {
    width: 8em;
    display: inline-block;
}